<div class="entry_card">
<p-card header="Provide details about your trip" subheader="fbefb">
    <div class="cards">
    <span>
    <div class="card_one">
    <div class="p-float-label">
        <input inputId="Hi" id="inputtext" type="text" pInputText/>
        <label for="float-input">Trip Title</label>
        

    </div>
    <br />
    <br />

    <div class="p-float-label">
        <input inputId="Hi" id="inputtext" type="text" pInputText/>
        <label for="float-input">City</label>

    </div>
    <br />
    <br />

    <div class="p-float-label">
        <input inputId="Hi" id="inputtext" type="text" pInputText/>
        <label for="float-input">Address One</label>

    </div>
    <br />
    <br />

    <div class="p-float-label">
        <input inputId="Hi" id="inputtext" type="text" pInputText/>
        <label for="float-input">ZIP</label>

    </div>
    <br />
    <br />
</div>
</span>

<div class="card_two">
    <div class="p-float-label">
        <input inputId="Hi" id="inputtext" type="text" pInputText/>
        <label for="float-input">Country</label>

    </div>
    <br />
    <br />

    <div class="p-float-label">
        <input inputId="Hi" id="inputtext" type="text" pInputText/>
        <label for="float-input">State</label>

    </div>
    <br />
    <br />

    <div class="p-float-label">
        <input inputId="Hi" id="inputtext" type="text" pInputText/>
        <label for="float-input">Address Two</label>

    </div>
    <br />
    <br />

    <div class="p-float-label">
        <input inputId="Hi" id="inputtext" type="text" pInputText/>
        <label for="float-input">Date</label>

    </div>
    <br />
    <br />

</div>
</div>


    <button pButton type="button" label="Next" class="p-button-warning"></button>
</p-card>
</div>