<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-gmap class="test456" #gmap [style]="{'width':'100%','height':'400px', 'margin-bottom': '1em'}" [options]="options" [overlays]="overlays"
       (onMapClick)="handleMapClick($event)" (onOverlayClick)="handleOverlayClick($event)" (onOverlayDragEnd)="handleDragEnd($event)"></p-gmap>

<button type="button" pButton label="Clear" icon="pi pi-times" (click)="clear()" style="margin-right:.25em"></button>
<button type="button" pButton label="Zoom In" icon="pi pi-plus" (click)="zoomIn(gmap.getMap())" style="margin-right:.25em"></button>
<button type="button" pButton label="Zoom Out" icon="pi pi-minus" (click)="zoomOut(gmap.getMap())"></button>

<div class="test123">
<p-dialog showEffect="fade" class="map_popup" [(visible)]="dialogVisible" header="New Location" [style]="{width: '500px', display: 'grid'}">
  <form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
    <div class="grid p-fluid" *ngIf="selectedPosition">
      <div class="col-2"><label for="tripTitle">Trip Title</label></div>
      <div class="col-10"><input type="text" pInputText id="tripTitle" formControlName="tripTitle"></div>

      <div class="col-2"><label for="city">City</label></div>
      <div class="col-10"><input type="text" pInputText id="city" formControlName="city"></div>

      <div class="col-2"><label for="state">State</label></div>
      <div class="col-10"><input type="text" pInputText id="state" formControlName="state"></div>

      <div class="col-2"><label for="zip">Zip</label></div>
      <div class="col-10"><input type="text" pInputText id="zip" formControlName="zip"></div>

      <div class="col-2"><label for="addressOne">Address 1</label></div>
      <div class="col-10"><input type="text" pInputText id="addressOne" formControlName="addressOne"></div>

      <div class="col-2"><label for="addressTwo">Address 2</label></div>
      <div class="col-10"><input type="text" pInputText id="addressTwo" formControlName="addressTwo"></div>

      <div class="col-2"><label for="country">Country</label></div>
      <div class="col-10"><input type="text" pInputText id="country" formControlName="country"></div>

      <div class="col-2"><label for="date">Date</label></div>
      <div class="col-10"><input type="date" pInputText id="date" formControlName="date"></div>

      <div class="col-2"><label for="description">Description</label></div>
      <div class="col-10"><textarea pInputTextarea id="description" formControlName="description"></textarea></div>

      <div class="col-2"><label for="initialBudget">Planned Budget</label></div>
      <div class="col-10"><input type="text" pInputText id="initialBudget" formControlName="initialBudget"></div>

      <div class="col-2"><label for="actualBudget">Actual Budget</label></div>
      <div class="col-10"><input type="text" pInputText id="actualSpent" formControlName="actualSpent"></div>

      <div class="col-2"><label for="lat">Lat</label></div>
      <div class="col-10"><input id="lat" type="text"  pInputText formControlName="latitude"></div>

      <div class="col-2"><label for="lng">Lng</label></div>
      <div class="col-10"><input id="lng" type="text"  pInputText formControlName="longitude"></div>
    
      <!-- <div class="col-2"><label for="drg">Drag</label></div> -->
      <!-- <div class="col-10"><p-checkbox name="draggable" [(ngModel)]="draggable" binary="true" [style]="{'margin-top':'.25em'}"></p-checkbox></div> -->
    </div>
    <div>
        <button type="submit" pButton label="Add Marker" icon="pi-plus"></button>
      </div>
    <!-- <ng-template pTemplate="footer">
      
    </ng-template> -->
    </form>
    </p-dialog>
</div>
    
