/* You can add global styles to this file, and also import other style files */
// @import "primeng/resources/themes/saga-blue/theme.css";
// @import "primeng/resources/themes/lara-light-blue/theme.css";
// @import "primeng/resources/primeng.css";
// @import "primeicons/primeicons.css";
// @import "node_modules/primeng/resources/themes/vela-green/theme.css";

// @import "node_modules/primeng/resources/themes/soho-dark/theme.css";




body {
    background-color: var(--surface-0);
    // background-image: url("/assets/images/topography.svg"),
    //   linear-gradient(110deg, var(--surface-0), rgb(8, 8, 81));
    display: grid;
    grid-template-columns: repeat(autofit, 1fr);
}