<!-- <p-menubar [model]="items">
    <ng-template pTemplate="start">
    </ng-template>
    <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Search">
    </ng-template>
</p-menubar> -->
<br />
<br />
<div class="home_grid">
    <p-card class="home_card" header="Travelogger" subheader="Document Your World Travels" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/images/bahia.jpeg" [style]="{width: '350px'}">
        </ng-template>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
        <ng-template pTemplate="footer">
            <p-button routerLink="/new-entry" label="Create an Entry" icon="pi pi-check"></p-button>
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
        </ng-template>
    </p-card>
<p-card class="home_card" header="Your Traveler's Snapshot" >
    <p>
        <sandbox-location-details [locations]="allLocations$ | async"></sandbox-location-details>
    </p>
</p-card>
<p-card class="home_card" header="Organize Photos" subheader="Upload Photos of Your Travels by Destination" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets/images/Japanese-Alps.jpg" [style]="{width: '350px'}">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    <ng-template pTemplate="footer">
        <p-button routerLink="/new-entry" label="Create an Entry" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
    </ng-template>
</p-card>
<p-card class="home_card" header="Track Stats" subheader="Generate Reports About Your Own Travel Data and Compare to Others" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets/images/Plane-Landing.jpeg" [style]="{width: '350px'}">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    <ng-template pTemplate="footer">
        <p-button routerLink="/new-entry" label="Create an Entry" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
    </ng-template>
</p-card>
</div>

